*{
    box-sizing: border-box;
}

.about{
    background-color: #000;
}

.aboutImgPart{
   height: 490px;
   overflow: hidden;
}

.aboutTextPart{
    display: flex;
    align-items: center;
}

.downloadcv{
    color: #fff  !important;
    background-color: rgb(21, 211, 59) !important;
}

.downloadcv:hover{
    background-color: transparent !important;
    color: white !important;
    border: 1px solid rgb(21, 211, 59) !important;
}

@media (max-width:400px){
    .about_padding{
        padding: 0 !important;
    }
}